<%- include ("partials/header") -%>
<form class="homepage__searchBar" action="/" method="post">
    <input class="homepage__searchBar--input" type="text" name="cityName" placeholder="Enter your location">
    <button class="homepage__searchBar--submit" type="submit"></button>
</form>
<%- include ("partials/footer") -%>